.question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-text {
    font-size: 28px;
    font-weight: lighter;
    margin-bottom: 25px;
    text-align: center;
}

.answer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
    width: 70%;
}

.answer button.selected {
    background-color: #fffacd; 
}

.submit-answer {
    background-color: #0a3055; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.submit-answer:hover {
    background-color: #0000b5; 
}